*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
   
}

header>a{
width: 15%;
height: 6vh;
background-color: var(--cor-card);
border-radius: 40px;
margin-top: 1%;
}
main{
    z-index: 7;
    height: 90vh;
}

header{
    display: flex;
    justify-content: space-around;
 
}

.btnVerde{
    text-decoration: none;
   justify-content: center;
   align-items: center;
    display: flex;
    color: var(--cor-texto);
}

#switch{
    width:3%;
    height: 3vh;
    background-color: var(--cor-botao-mode);
    border: solid 2px rgb(195, 255, 222);
    border-radius: 50px;
    align-items: center;
    display: flex;
    margin-top: 1.5%;
}

#btnBranco{
    width: 45%;
    height: 2.3vh;
   background-color: var(--cor-botao);
    border-radius: 360px;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkBranco{
    opacity: 0;
    transition: left 0.4s, background-color 0.4s;
}

.cards{
    width: 100%;
    height: 40vh;
   background-color: var(--cor-card);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#cardsGrid{
display: grid;
grid-template-columns: 10fr 10fr 10fr 10fr;
grid-template-rows: 10fr 10fr;
gap: 5%;
margin-top: 3%;
}


#btnModal{
    width: 100%;
    height: 100%;
    z-index: 1;
 border-radius: 30px;
 background-color: rgba(0,0,0,0);
 color: var(--cor-texto);
 border: 0;
}

.conteudoModal{
    width: 100%;
    height: 60vh;
    background-color: rgba(255, 251, 251, 0.901);
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#modal{
  position: fixed; 
  padding-top: 100px; 
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 100vh;
  overflow: auto; 
  background-color: rgb(255, 255, 255); 
  background-color: rgba(0,0,0,0.4); 
}


.fechar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .fechar:hover,
  .fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


.dados{
   width: 20%;
   height: 7vh;
   border-radius: 50px;
   background-color: var(--cor-dados);
margin-bottom: 1%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.dados>input{
    background-color:var(--cor-input) ;
}
.dados>p{
    background-color:var(--cor-p) ;
}

input{
    width: 98%;
    height: 6vh;
    border-radius: 50px;
    border: none;
    text-align: center;
}

.btnMODAL{
    width: 80px;
    height: 4vh;
    border-radius: 30px;
    margin-bottom: 0.4%;
}

:root {
  --cor-fundo: #ffffff;
  --cor-card: rgb(126, 248, 173);
  --cor-botao: rgb(126, 248, 173);
  --cor-botao-mode:  #ee3ed6;
   --cor-texto: #000000;
    --cor-input: #ffffff;
   --cor-p:rgba(255, 255, 255, 0);
    --cor-dados:  rgb(126, 248, 173);
}

body.dark-mode{
    --cor-fundo: #c4c24f;
  --cor-card: rgb(48, 2, 100);
  --cor-botao: rgb(181, 148, 219);
  --cor-botao-mode:   rgb(48, 2, 100);
   --cor-texto: #c4c24f;
   --cor-input:rgb(48, 2, 100);
   --cor-p:rgba(255, 255, 255, 0);
   --cor-dados:#c4c24f;
}

.switch.btnBranco.ativo{
    margin-left: 100%;
    transition: left 0.4s, background-color 0.4s;
}